<template>
  <div class="submitted-modal">
    <div class="submitted-modal__content">
      <h2 class="text">
        Your message has been sent to: <br />{{ characterName }}
      </h2>
      <button class="close-btn" @click="$emit('close')">CLOSE</button>
    </div>
  </div>
</template>
<script>
export default {
  name: "MessageSubmittedModal",
  props: {
    characterName: {
      type: String,
      required: true,
    },
  },
};
</script>
<style lang="scss" scoped>
.submitted-modal {
  height: 100vh;
  width: 100vw;
  background: #f5f8fbc9;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: white;
    max-width: 60%;
    max-height: 40%;
    border: 2px solid $primary-navy;
    border-radius: 5px;
    padding: 2em;
    .text {
      line-height: 30px;
      text-align: center;
    }
    .close-btn {
      padding: 10px 20px;
      background-color: $secondary-light-blue;
      color: white;
      border: none;
      border-radius: 5px;
      font-family: inherit;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
    }
  }
  .close-btn:hover {
    transform: scale(1.1);
  }
}
</style>
