@import "_variables.scss";
@import "_colors.scss";
@import "_element-ui.scss";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
  height: 100vh;
  width: 100%;
  margin: 0;
}
#app {
  height: 100%;
  font-family: $base-font-type;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-navy;
  -webkit-tap-highlight-color: transparent;
}

a,
a:visited {
  text-decoration: none;
  color: $primary-navy;
  &.router-link-exact-active {
    color: $secondary-light-blue;
  }
}

.header {
  padding: 32px 0;
  text-align: center;
  font-size: $header-mobile-font-size;
  font-weight: 700;
  margin: 0;
  line-height: 30px;
  text-align: left;
  width: 100%;
}
.mobile-padding {
  padding: 0 20px;
}
.error {
  color: $error-red;
  border-color: $error-red !important;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $light-grey;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $light-grey;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $light-grey;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media only screen and (min-width: 760px) {
  .header {
    margin: 0;
    font-size: $header-desktop-font-size;
    padding-top: 45px;
    padding-bottom: 36px;
    line-height: 45px;
    text-align: center;
    width: 100%;
  }
}
