<template>
  <div class="message-form">
    <form
      action="/"
      class="message-form__form mobile-padding"
      ref="messageForm"
    >
      <div class="header">Send a new message</div>
      <div
        :class="[
          'field',
          { error: focusedTitle && titleValidationErrorMessage },
        ]"
      >
        <label for="title" class="label">Title</label>
        <input
          @focus="focus"
          v-model="title"
          id="title"
          placeholder="Enter title here..."
          type="text"
          :class="[
            'input',
            { error: focusedTitle && titleValidationErrorMessage },
          ]"
        />
        <span
          v-if="focusedTitle && titleValidationErrorMessage"
          class="error-message"
          >{{ titleValidationErrorMessage }}</span
        >
      </div>
      <div :class="['field', { error: focusedMessage && !messageValidation }]">
        <label for="message" class="label">Message</label>
        <textarea
          v-model="message"
          @focus="focus"
          id="message"
          placeholder="Enter message here..."
          :class="['input', { error: focusedMessage && !messageValidation }]"
          required
        /><span
          v-if="focusedMessage && !messageValidation"
          class="error-message"
          >Message up to 256 characters is required</span
        >
      </div>
      <div :class="['field', { error: focusedSelect && !characterValidation }]">
        <label for="character-select" class="label">Character</label>
        <el-select
          @focus="focus"
          v-model="characterId"
          :popper-append-to-body="false"
          value-key="id"
          placeholder="Pick a character"
          id="character-select"
          :class="[
            'input',
            'input--character',
            { error: focusedSelect && !characterValidation },
          ]"
        >
          <el-option
            v-for="character in characters"
            :key="character.id"
            :label="character.name"
            :value="character.id"
          >
          </el-option>
        </el-select>
        <span v-if="focusedSelect && !characterValidation" class="error-message"
          >Pick a character</span
        >
      </div>
      <div class="send">
        <button
          @click="submitMessage()"
          type="button"
          :class="['submit-btn', { disabled: !formIsValid }]"
        >
          Send
        </button>
      </div>
    </form>
    <Transition name="fade" appear>
      <div v-if="showModal">
        <MessageSubmittedModal
          :character-name="characterName"
          @close="showModal = false"
          @click="resetForm()"
        />
      </div>
    </Transition>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import MessageSubmittedModal from "../MessageSubmittedModal/index.vue";
export default {
  name: "MessageForm",
  props: {
    characters: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      isSubmitted: false,
      title: "",
      message: "",
      characterId: null,
      characterName: "",
      showModal: false,
      focusedTitle: false,
      focusedMessage: false,
      focusedSelect: false,
    };
  },
  methods: {
    ...mapActions(["updateMessages"]),
    focus() {
      if (event.currentTarget.id === "title") this.focusedTitle = true;
      if (event.currentTarget.id === "message") this.focusedMessage = true;
      if (event.currentTarget.id === "character-select")
        this.focusedSelect = true;
    },
    submitMessage() {
      this.isSubmitted = true;
      if (this.formIsValid) {
        this.handleSendMessage();
      }
    },
    generateRandomMessageId() {
      return this.messages.length + 1;
    },
    resetFocus() {
      this.focusedTitle = false;
      this.focusedMessage = false;
      this.focusedSelect = false;
    },
    resetForm() {
      this.isSubmitted = false;
      this.title = "";
      (this.message = ""), (this.characterId = null);
    },
    handleSendMessage() {
      const character = this.characters.find(
        (character) => character.id === this.characterId
      );
      this.characterName = character.name;
      const messageObject = {
        id: this.generateRandomMessageId(),
        title: this.title,
        message: this.message,
        date: new Date(Date.now()),
        character: {
          name: character.name,
          img: character.image,
        },
      };
      this.updateMessages([...this.messages, messageObject]);
      this.showModal = true;
      this.resetFocus();
      this.resetForm();
    },
  },
  computed: {
    ...mapGetters(["messages"]),
    titleForbiddenCharactersRegex() {
      // regex to not allow special characters
      return /[`!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?~]/;
    },
    titleValidationErrorMessage() {
      if (this.titleForbiddenCharactersRegex.test(this.title)) {
        return "The title is in incorrect format";
      }
      if (this.title.length < 3) {
        return "Title is too short";
      }
      if (this.title.length > 32) {
        return "Title is too long";
      }
      return null;
    },
    messageValidation() {
      return this.message.length > 0 && this.message.length < 256;
    },
    characterValidation() {
      return !!this.characterId;
    },
    formIsValid() {
      return !this.titleValidationErrorMessage &&
        this.messageValidation &&
        this.characterValidation
        ? true
        : false;
    },
  },
  components: { MessageSubmittedModal },
};
</script>

<style scoped lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s linear;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.message-form {
  height: 100%;
  .field {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 28px;
    font-size: $small-font-size;
    .label {
      text-align: left;
    }
    .input {
      background: white;
      border: 1px solid $light-grey;
      outline: none;
      font-family: inherit;
      font-size: $small-font-size;
      box-sizing: border-box;
      border-radius: 8px;
      padding: 10px 14px;
      margin-top: 12px;
      &--character {
        border: none;
        padding: 0;
      }
    }
    .error-message {
      position: absolute;
      bottom: 10px;
      left: 0;
      font-size: 12px;
      margin-top: 10px;
      line-height: 13px;
    }
    #message {
      height: 148px;
      resize: none;
    }
  }
  .send {
    display: flex;
    justify-content: flex-end;
    .submit-btn {
      font-family: inherit;
      font-size: inherit;
      border-radius: 19px;
      border: none;
      background: $secondary-light-blue;
      color: white;
      width: 90px;
      height: 38px;
      cursor: pointer;
    }
    .disabled {
      color: grey;
      background-color: $light-grey;
      pointer-events: none;
    }
    :hover {
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
    }
  }
}
@media only screen and (min-width: 760px) {
  .message-form {
    display: flex;
    justify-content: center;
    &__form {
      width: 460px;
    }
  }
}
</style>
