<template>
  <div class="not-found">
    <router-link to="/"
      ><img
        class="not-found__logo"
        src="@/assets/rick_morty_PNG7 2.svg"
        alt="logo"
    /></router-link>
    <div class="not-found__error">Page Not Found <br />404</div>
  </div>
</template>
<script>
export default {
  name: "ErrorPage",
};
</script>
<style lang="scss" scoped>
.not-found {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  border-radius: 70px;
  box-shadow: 2px 2px 50px 20px black;
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  left: 0;
  right: 0;
  width: 99%;
  height: 98vh;
  background: white;
  &__logo {
    width: 40rem;
    padding: 0.5em;
  }
  &__logo:hover {
    box-shadow: 2px 2px 10px 1px $primary-navy;
    border-radius: 50px;
    transform: rotate(-10deg);
  }
  &__error {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .not-found {
    &__logo {
      width: 15rem;
    }
  }
}
</style>
